@import "tailwindcss";

@theme {
    --color-primary: #1577E5;
    --color-secondary: #98002E;
    --color-accent: #707070;
    --color-success: #129812;
    --color-text-success: #97F797;
    --color-danger: #FF2929;
    --color-text-danger: #FC9191;

    /* Animations*/
     --animate-slide_down: slide_down 3s ease-in infinite;
  @keyframes slide_down {
    0%{
        opacity: 0;
        transform: translateY(-10px);
        max-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 300px;
    }
  }
}